
@{
    ViewData["Title"] = "Default";
}

<h1>Стартовая страница</h1>
@{ 
    int i = 0;
   
    <h1>@i</h1>
}
<table>
    <tr>
        <td>
            <a href="~/Default/Employeers">List Of Employeers</a>
        </td>
    </tr>
</table>

