@model IEnumerable<WebGB.Models.Employeer>

@{
    ViewData["Title"] = "Employeers";
}

<h1>Employeers</h1>
<table>
    @foreach (var employer in Model)
    {
    <tr>
        <td>@employer.ID </td> 
        <td>@employer.Name </td>
        <td>@employer.Surname </td>
        <td> <a href='~/Default/DispEmployer/@employer.ID'>Редактировать</a> </td>
    </tr>
    }
</table>
